{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.json", "*.code-snippets"],
      "options": { "parser": "json", "printWidth": 100 }
    }
  ]
}
